html{
  font-family: arial,sans-serif;
}
img {
  display: inherit;
  margin: 0 auto;
  padding-bottom: 25px;
}
input {
  display: inherit;
  margin: 0 auto;
}
div.main-block {
  margin: 0 auto;
}
div.button-block {
  text-align: center;
}
div.right-header {
  display: flex;
  position: relative;
  float: right;
  justify-content: space-between;
  align-items: center;
}
div.left-header {
  position: absolute;
}
div.top-divider{
  padding-top: 100px;
}
header {
  color: #000;
  padding: 10px;
  font-size: 15px;
}
a {
  text-decoration: none;
  color: #000;
  padding-right: 15px;
}
#item-menu {
  display: inline-block;
  background-image: url('../images/i1_1967ca6a.png');
  background-position: -132px -38px;
  background-size: 528px 68px;
  height: 30px;
  width: 30px;
  padding-right: 0;
}
